:root {
    --primary: #2975E5;
    --secondary:#D9D9D9;
       
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
/*Cabeçalho principal*/

header{
    background-image: url("./imagens/cacalho1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10rem;
}

/*Subcabeçalho*/
nav{
    background-color: var(--primary);
    height: 3.5rem;
}
nav ul{
    list-style-type: none; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100%;
}
nav ul li a{
    color: white;
    font-size: 2rem;
    padding: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
} 
/*Rodapé principal*/
footer{
    background-color: var(--primary);
    height: 3.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    float: left;
    height: auto;
    padding: 1rem;
    width: 15%;
}

/*Página Inicial*/
#mainpag1{
    font-family: sans-serif;
}
#mainpag1 h2{
    padding: 1rem;

}
#mainpag1 p{
    margin-left: 1rem;
}
#lista{
    margin-left: 2rem;
    list-style-type: upper-roman;
}
#lista2{
    list-style-type: square;
    margin-left: 2rem;
}

/*Página Curso/tabela*/
#mainpag2{
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

table {
    width: 60%;
    height: 100%;
    border: 0.1rem solid black;
    border-collapse: collapse;
    text-align: center;
}

thead{
    font-weight: bolder;

}
tbody{
    align-items: center;
}

table tr th,
table tr td {
    border: 0.2rem solid BLACK;
    padding: 0.3rem;
}

.bolder{
    font-weight: bold;
}

.centert{
    text-align: left;
}

tfoot{
    font-weight: bolder;
}
/*Página 3 FAQ*/

/*Página 4 Formulário*/
#mainpag4{
    padding: 3rem;
}
fieldset{
    padding: 1.8rem;
}